{% extends 'personal/base/base.html' %}
{% load static %}

{% block title %}FINUPS - Кабинет{% endblock %}
{% block personal__title %}<a href="{% url 'personal:config' %}">Личный кабинет</a>/ Смена пароля{% endblock %}

{% block content %}
    <section class="change-pass">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Подтвердить</button>
            </form>
        </div>
    </section>

{% endblock content %}
