{% load static %}
<section class="menu-line">

    <div class="container">
        <div class="menu-underheader">


            <ul class="line-menu-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">Тендерные займы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Банковские гарантии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ГосКредит</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ГосФакторинг</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Лизинг Онлайн</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Инвестиции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Страхование</a>
                </li>
            </ul>
        </div>
    </div>

</section>