{% load static %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if error %}
                    <div style="color:red;">{{ error }}</div>
                {% endif %}
                {% if thx %}
                    <div style="color:green;">{{ thx }}</div>
                {% endif %}
                <p>Оставьте заявку<br><span>нашему менеджеру</span></p>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Имя">
                    <input type="tel" name="tel" placeholder="Телефон">
                    <input type="text" name="form_type" value="Модальное окно" style="display: none">
                    <button type="submit">Отрпавить</button>
                </form>
            </div>
            {#      <div class="modal-footer">#}
            {#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
            {#        <button type="button" class="btn btn-primary">Understood</button>#}
            {#      </div>#}
        </div>
    </div>
</div>