{% extends "base/base.html" %}
{% load static %}
{% block title %}FINUPS - Главная{% endblock %}

{% block content %}

    {% include 'base/menu-line.html' %}

    {% include 'main/components/banner.html' %}

    {% include 'main/components/line-under-banner.html' %}

    {% include 'main/components/calc.html' %}

    {% include 'main/components/bank-partners.html' %}

    {% include 'main/components/line-under-bp.html' %}

    {% include 'main/components/table.html' %}

    {% include 'main/components/form.html' %}

    {% include 'main/components/qa.html' %}

    {% include 'base/menu-line.html' %}

    {% endblock %}