{% extends "base/base.html" %}
{% load static %}
{% block title %}FINUPS - Как работает сервис{% endblock %}

{% block content %}

    {% include 'base/menu-line.html' %}

    {% include 'main/components/s_banner.html' %}

    {% include 'main/components/s_services.html' %}

    {% include 'main/components/s_list.html' %}

    {% include 'main/components/form.html' %}

    {% include 'main/components/bank-partners.html' %}

    {% include 'main/components/callback.html' %}

    {% include 'base/menu-line.html' %}

{% endblock %}