{% extends "base/base.html" %}
{% load static %}
{% block title %}FINUPS - Как работает сервис{% endblock %}

{% block content %}

    {% include 'base/menu-line.html' %}

    {% include 'main/components/banner-how.html' %}

    {% include 'main/components/how-work.html' %}

    {% include 'main/components/hw-steps.html' %}

    {% include 'main/components/hw-why.html' %}

    {% include 'main/components/form.html' %}

    {% include 'main/components/bank-partners.html' %}

    {% include 'main/components/callback.html' %}

    {% include 'base/menu-line.html' %}

{% endblock %}