@import "../../common/screen";
@import "../../common/colors";


.hw-why {
  padding-top: $p1440;
  padding-bottom: $p1440;
  @include max-w(576) {
    padding-top: $p320;
    padding-bottom: $p320;
  }

  .hw-line__text {
    text-align: center;

    p {
      color: $dblue;
    }

    .text-title {
      font-size: 36px;
      font-family: "Montserrat-SemiBold", serif;
      font-weight: 400;
      @include max-w(768) {
        font-size: 30px;
      }
      @include max-w(576) {
        font-size: 27px;
      }
      @include max-w(425) {
        font-size: 25px;
      }
      @include max-w(375) {
        font-size: 19px;
      }
    }
  }

  .why-cols {
    .elem {
      @include max-w(991){
        margin-top: 25px;
      }
      .elem-card {
        height: 100%;
        border: 1px solid #afb7be;
        padding: 30px;
        display: flex;
        flex-direction: column;

        .card-up {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: center;

          p {
            padding: 20px 0;
            margin-bottom: 0;
            font-size: 24px;
            font-family: "Montserrat-SemiBold", serif;
            font-weight: 400;
            @include max-w(768) {
              font-size: 16px;
            }
          }

          .card-img {
            //img{
            //  width: 100%;
            //}
          }
        }

        .card-down {
          padding-top: 15px;
          ul {
            list-style-image: url('../img/ul-point.png');
            padding-left: 20px!important;
            li {
              font-size: 16px;
              font-family: "Montserrat-Regular", serif;
              font-weight: 400;
              @include max-w(768){
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}