@import "components/base";
@import "components/header";
@import "components/auth";
@import "components/form-login";
@import "components/form-signin2";

.center{
    display: flex;
    justify-content: center;
  }

.sign-form{
  color: $back_grey;
}