$h2FontSize: 55px;
$h3FontSize: 45px;
$h4FontSize: 35px;
$h5FontSize: 25px;
$pFontSizeMin: 22px;
$pFontSizeMax: 35px;

$h1FontSize375: 20px;
$h2FontSize375: 20px;
$h3FontSize375: 18px;
$h4FontSize375: 14px;
$h5FontSize375: 12px;


$pFontSizeMin375: 12px;
$pFontSizeMax375: 15px;

$pSubHFontSize: 22px;
$pTextFontSize: 18px;

$sectionPaddingTop: 35px;
$sectionPaddingBottom: 35px;

$sectionPaddingTop375: 25px;
$sectionPaddingBottom375: 25px;

$cardPaddingX: 25px;