@import "../../common/colors";
@import "../../common/screen";

.personal__title{
  background-color: $back_grey;
  padding: 50px 0 15px 0;
  .title__text{
    display: flex;
    justify-content: flex-start;

    p{
      color: $dblue;
      font-size: 36px;
      font-family: "Montserrat-Medium", serif;
      font-weight: 600;
      @include max-w(768) {
        font-size: 30px;
      }
      @include max-w(576) {
        font-size: 27px;
      }
      @include max-w(425) {
        font-size: 25px;
      }
      @include max-w(375) {
        font-size: 19px;
      }
    }
  }
}