{% load static %}
<section class="also-take">
    <div class="container">
        <div class="at-title">
            <h2>С этим продуктом также берут</h2>
        </div>
        <div class="at-frames">
            <div class="row">
                <div class="col-lg-6">
                    <div class="at-elem">
                        <div class="elem-text">
                            <div class="elem-title">Тендерные займы</div>
                            <div class="elem-percent">от 3 %</div>
                        </div>
                        <div class="elem-img">
                            <img src="{% static 'img/main/tender.png' %}" alt="Тендерные займы">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="at-elem">
                        <div class="elem-text">
                            <div class="elem-title">Кредит на исполнение</div>
                            <div class="elem-percent">от 1,9 %</div>
                        </div>
                        <div class="elem-img">
                            <img src="{% static 'img/main/credit.png' %}" alt="Кредит на исполнение">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="at-elem">
                        <div class="elem-text">
                            <div class="elem-title">ГосФакторинг</div>
                            <div class="elem-percent">от 3,2 %</div>
                        </div>
                        <div class="elem-img">
                            <img src="{% static 'img/main/factor.png' %}" alt="ТГосФакторинг">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="at-elem">
                        <div class="elem-text">
                            <div class="elem-title">Лизинг Онлайн</div>
                            <div class="elem-percent">от 4,8 %</div>
                        </div>
                        <div class="elem-img">
                            <img src="{% static 'img/main/liz.png' %}" alt="Лизинг Онлайн">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>