{% load static %}
<section class="bp">
    <div class="container">
        <div class="bp-title">
            <p>Банки-партнеры Finaps</p>
        </div>
        <div class="bp-labels">

            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/bank-spb.png" %}" alt="bank-spb">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/rosbank.png" %}" alt="rosbank">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/delo-bank.png" %}" alt="delo-bank">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/smp-bank.png" %}" alt="smp-bank">
                </div>
            </div>

            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/mid.png" %}" alt="mid">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/psbank.png" %}" alt="psbank">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/bars-bank.png" %}" alt="bars">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/vtbank.png" %}" alt="vtb">
                </div>
            </div>

            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/bank-zenit.png" %}" alt="bank-zenit">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/uralsib.png" %}" alt="uralsib">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/gazprom.png" %}" alt="gazprom">
                </div>
            </div>
            <div class="col-lg-3 col-md-6  label">
                <div class="label-elem">
                    <img src="{% static "img/main/pb/inbank.png" %}" alt="inbank">
                </div>
            </div>

        </div>
        <div class="pb-btn">
            <div class="btn-o-border">

                <a href="">
                    <div class="btn-orange__o-border">
                        <p>Стать банком-партнером</p>
                    </div>
                </a>


            </div>
        </div>
    </div>
</section>