{% load static %}
<section class="banner">
    <div class="container">
        <div class="row banner-title-row">
            <div class="col-lg-10 banner-title">
                <h1>Сервис выдачи Банковских
                    гарантий <span>№1 в России</span></h1>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row banner-subtitle-row">
            <div class="col-lg-10 banner-subtitle">
                <p>Каждая 10-я гарантия выдается через Finaps:</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row banner-mark-row">
            <div class="col-lg-10 check-mark-row">
                <div class="check-mark">
                    <div class="check-mark-box">
                        <div class="check-mark-img">
                            <img src="{% static 'img/main/galca.png' %}" alt="check-mark">
                        </div>
                    </div>
                    <div class="check-mark-text">
                        <p>Экономия до 30%</p>
                    </div>
                </div>
                <div class="check-mark">
                    <div class="check-mark-box">
                        <div class="check-mark-img">
                            <img src="{% static 'img/main/galca.png' %}" alt="check-mark">
                        </div>
                    </div>
                    <div class="check-mark-text">
                        <p>Одна заявка во все Банки</p>
                    </div>
                </div>
                <div class="check-mark">
                    <div class="check-mark-box">
                        <div class="check-mark-img">
                            <img src="{% static 'img/main/galca.png' %}" alt="check-mark">
                        </div>
                    </div>
                    <div class="check-mark-text">
                        <p>Одобрение Онлайн</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row btn-row">
            <div class="col-lg-4 ">
                <a href="">
                    <div class="btn-black">
                        <p>Заказать консультацию</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 button-orange">
                <a href="">
                    <div class="btn-orange">
                        <p>Получить гарантию</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>