{% load static %}
<section class="callback-section">
    <div class="grey-line"></div>

    <div class="container">
        <div class="row cs-content">
            <div class="col-lg-6 col-sm-6 left">
                <div class="down-logo">
                    <img src="{% static 'img/dark-logo.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 right">
                <div class="down-text">
                    <a href="tel:88002453214">8 (800) 245-32-14</a>

                    <div class="btn-orange__o-border">
                        <p>Обратный звонок</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="grey-line"></div>
</section>