{% load static %}
<section class="form">
    <div class="container">
        <div class="form-text">
            <p class="form-title">Форма обратной связи</p>
            <p class="form-subtitle">Свяжитесь с нашим персональным менеджером</p>
        </div>
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-input">
                        <input type="text" class="form-control" id="exampleInputFIO" placeholder="Ф.И.О.">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-input">
                        <input type="email" class="form-control" id="exampleInputEmail" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-input">
                        <input type="tel" class="form-control" id="exampleInputTel" placeholder="Телефон">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-btn">
                        <button type="submit">
                            Получить банковскую гарантию
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row confirm">
            <p>Отправляя данную форму вы соглашаетесь с Политикой в отношении обработки персональных данных</p>
        </div>
    </div>
</section>