{% load static %}
<section class="form">
    <div class="container">
        <div class="form-text">
            <p class="form-title">Форма обратной связи</p>
            <p class="form-subtitle">Свяжитесь с нашим персональным менеджером</p>
        </div>
        {% if error %}
            <div style="color:red;">{{ error }}</div>
        {% endif %}
        {% if thx %}
            <div style="color:green;">{{ thx }}</div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-input">
                        <input type="text" class="form-control" name="name" id="exampleInputFIO" placeholder="Ф.И.О.">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-input">
                        <input type="email" class="form-control" name="email" id="exampleInputEmail"
                               placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-input">
                        <input type="tel" class="form-control" name="tel" id="exampleInputTel" placeholder="Телефон">
                        <input type="text" name="form_type" value='Форма связи' style="display: none">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-btn">
                        <button type="submit">
                            Получить банковскую гарантию
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row confirm">
            <p>Отправляя данную форму вы соглашаетесь с Политикой в отношении обработки персональных данных</p>
        </div>
    </div>
</section>