{% load static %}
<section class="hw-line">
    <div class="container">
        <div class="hw-line__text">
            <p class="text-title">Как работает сервис Finaps</p>
            <p class="text">Банковская гарантия — это обещание банка выплатить деньги заказчику, если исполнитель
                нарушает условия контракта. Когда исполнитель получает гарантию, он просит банк поручиться
                за него перед заказчиком. Это нужно, чтобы подтвердить финансовые обязательства.</p>
        </div>
    </div>
</section>