{% load static %}
<section class="hw-steps">
    <div class="container">
        <div class="hw-line__text">
            <p class="text-title">Как работает сервис Finaps</p>
        </div>

        <div class="steps-line">
            <div class="row one">
                <div class="col-lg-4 elem">
                    <div class="step-elem">
                        <div class="img-step first">
                            <div class="circle-img">
                                <p class="nechet">01</p>
                            </div>
                            <div class="post-point-img">
                                <img src="{% static 'img/main/how/row4dot.png' %}" alt="">
                            </div>
                        </div>
                        <div class="text-img">
                            <p>Зарегитрируйте профиль на сервисе Finups</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 elem">
                    <div class="step-elem">
                        <div class="img-step middle">
                            <div class="pre-point-img">
                                <img src="{% static 'img/main/how/4dot.png' %}" alt="">
                            </div>
                            <div class="circle-img">
                                <p class="chet">02</p>
                            </div>
                            <div class="post-point-img">
                                <img src="{% static 'img/main/how/row4dot.png' %}" alt="">
                            </div>
                        </div>
                        <div class="text-img">
                            <p>После регистрации
                            добавьте вашу компанию в
                            личном кабинете</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 elem">
                    <div class="step-elem">
                        <div class="img-step middle">
                            <div class="pre-point-img">
                                <img src="{% static 'img/main/how/4dot.png' %}" alt="">
                            </div>
                            <div class="circle-img">
                                <p class="nechet">03</p>
                            </div>
                            <div class="post-point-img">
                                <img src="{% static 'img/main/how/row4dot.png' %}" alt="">
                            </div>
                        </div>
                        <div class="text-img">
                            <p>Оформите заявку, направив
                            ее в один, несколько или
                            сразу все банки/МФО</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row two">
                <div class="col-lg-4 elem">
                    <div class="step-elem">
                        <div class="img-step middle">
                            <div class="pre-point-img">
                                <img src="{% static 'img/main/how/5dot.png' %}" alt="">
                            </div>
                            <div class="circle-img">
                                <p class="chet">04</p>
                            </div>
                            <div class="post-point-img">
                                <img src="{% static 'img/main/how/row4dot.png' %}" alt="">
                            </div>
                        </div>
                        <div class="text-img">
                            <p>Подгрузите документы в
                            электронное хранилище
                            сервиса Finaps</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 elem">
                    <div class="step-elem">
                        <div class="img-step middle">
                            <div class="pre-point-img">
                                <img src="{% static 'img/main/how/4dot.png' %}" alt="">
                            </div>
                            <div class="circle-img">
                                <p class="nechet">05</p>
                            </div>
                            <div class="post-point-img">
                                <img src="{% static 'img/main/how/row4dot.png' %}" alt="">
                            </div>
                        </div>
                        <div class="text-img">
                            <p>По возникающим вопросам
                            общайтесь с кредитной
                            организацией, либо предоставьте
                            это Вашему личному менеджеру</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 elem">
                    <div class="step-elem">
                        <div class="img-step last">
                            <div class="pre-point-img">
                                <img src="{% static 'img/main/how/4dot.png' %}" alt="">
                            </div>
                            <div class="circle-img">
                                <p class="chet">06</p>
                            </div>
                        </div>
                        <div class="text-img">
                            <p>Оплатите счет напрямую
                            в банк или МФО и получите
                            выбранный финансовый
                            продукт</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>