{% load static %}
<section class="hw-why">
    <div class="container">
        <div class="hw-line__text">
            <p class="text-title">Как работает сервис Finaps</p>
        </div>

        <div class="row why-cols">
            <div class="col-lg-4 elem">
                <div class="elem-card">
                    <div class="card-up">
                        <div class="card-img">
                            <img src="{% static 'img/main/how/smart.png' %}" alt="">
                        </div>
                        <p>Удобно</p>
                    </div>
                    <div class="card-down">
                        <ul>
                            <li>Весь спектр финансовых услуг в одном месте</li>
                            <li>Простой и понятный интерфейс</li>
                            <li>Хранение электронных документов</li>
                            <li>Доступ к сервису 24/7</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 elem">
                <div class="elem-card">
                    <div class="card-up">
                        <div class="card-img">
                            <img src="{% static 'img/main/how/money.png' %}" alt="">
                        </div>
                        <p>Удобно</p>
                    </div>
                    <div class="card-down">
                        <ul>
                            <li>Возможность выбора лучшего по цене и условиям предложения.</li>
                            <li>Прямые расчеты с кредитными организациями без посредников и скрытых комиссий.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 elem">
                <div class="elem-card">
                    <div class="card-up">
                        <div class="card-img">
                            <img src="{% static 'img/main/how/fast.png' %}" alt="">
                        </div>
                        <p>Удобно</p>
                    </div>
                    <div class="card-down">
                        <ul>
                            <li>Экономия времени благодаря полностью дистанционной работе</li>
                            <li>Автоматизированная система заполнения данных</li>
                            <li>Высокая скорость ответа партнеров</li>
                            <li>Минимальный срок оформления финансовых продуктов – 1 день</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>