{% load static %}
<section class="line-under-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6 line-elem">
                <div class="icon-elem">
                    <img src="{% static 'img/main/stavka.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Ставка</p>
                    <p class="line-subtitle">от 2,5%, но не менее 999 р.</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 line-elem">
                <div class="icon-elem">
                    <img src="{% static 'img/main/summa.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Сумма</p>
                    <p class="line-subtitle">до 1 млрд рублей</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 line-elem two">
                <div class="icon-elem">
                    <img src="{% static 'img/main/resh.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Решение по заявке</p>
                    <p class="line-subtitle">в режиме онлайн</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 line-elem two">
                <div class="icon-elem">
                    <img src="{% static 'img/main/srok.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Срок действия</p>
                    <p class="line-subtitle">до 5 лет</p>
                </div>
            </div>
        </div>
    </div>
</section>