{% load static %}

<section class="qa__frame">
    <div class="container">
        <div class="accordion__qa">
            <div class="row qa__slide info-header">
                    <div class="col-lg-3 qa_slide-elem info-header-tab checked">
                        Как получить Банковскую Гарантию?
                    </div>
                    <div class="col-lg-3 qa_slide-elem info-header-tab">
                        Какие документы?
                    </div>
                    <div class="col-lg-3 qa_slide-elem info-header-tab">
                        Доп. условия
                    </div>
                    <div class="col-lg-3 qa_slide-elem info-header-tab">
                        Подробнее о Банковской Гарантии
                    </div>
                </div>
        </div>
    </div>
</section>
