{% load static %}
<section class="banner">
    <div class="container">
        <div class="row banner-title-row">
            <div class="col-lg-10 banner-title">
                <h1>Услуги <span>Finaps</span></h1>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row banner-subtitle-row">
            <div class="col-lg-10 banner-subtitle">
                <p>Одно из обязательных требований многих государственных тендеров -
                    наличие обеспечения исполнения контракта</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row btn-row">
            <div class="col-lg-4 ">
                <a href="#" data-toggle="modal" data-target="#staticBackdrop">
                    <div class="btn-black">
                        <p>Заказать консультацию</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 button-orange">
                <a href="#" data-toggle="modal" data-target="#staticBackdrop">
                    <div class="btn-orange">
                        <p>Получить гарантию</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section>