{% load static %}
<section class="serv-list">
    <div class="container">
        <div class="hw-line__text">
            <p class="text-title">Как работает сервис Finaps</p>
        </div>
        <div class="elem-list">
            <div class="col-lg-6 elem">
                <div class="serv-card">
                    <div class="up-card">
                        <div class="elem-text">
                            <div class="elem-title">Банковские гарантии</div>
                            <div class="elem-percent">Банк предложит вам вариант
                                стоимости гарантии -по своим
                                стандартным тарифам
                            </div>
                        </div>

                    </div>
                    <div class="down-card">
                        <div class="elem-img">
                            <img src="{% static 'img/main/serv/s_garant.png' %}" alt="ТГосФакторинг">
                        </div>
                        <div class="more-btn">
                            <p>Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 elem">
                <div class="serv-card">
                    <div class="up-card">
                        <div class="elem-text">
                            <div class="elem-title">Кредит на исполнение контракта</div>
                            <div class="elem-percent">Выдается финансовым
                                учреждением для выполнения
                                контракта при отсутствии
                                собственных активов
                            </div>
                        </div>

                    </div>
                    <div class="down-card">
                        <div class="elem-img">
                            <img src="{% static 'img/main/serv/s_credit.png' %}" alt="ТГосФакторинг">
                        </div>
                        <div class="more-btn">
                            <p>Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 elem">
                <div class="serv-card">
                    <div class="up-card">
                        <div class="elem-text">
                            <div class="elem-title">Лизинг</div>
                            <div class="elem-percent">Форма кредитования для
                                приобретения основных средств
                                предприятиями и других товаров
                                физ. и юр. лицами
                            </div>
                        </div>

                    </div>
                    <div class="down-card">
                        <div class="elem-img">
                            <img src="{% static 'img/main/serv/s_lizing.png' %}" alt="ТГосФакторинг">
                        </div>
                        <div class="more-btn">
                            <p>Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 elem">
                <div class="serv-card">
                    <div class="up-card">
                        <div class="elem-text">
                            <div class="elem-title">Страхование</div>
                            <div class="elem-percent">Обеспечение защиты интересов
                                страхователя за счет денежных
                                фондов, образовавшихся из
                                страховых взносов
                            </div>
                        </div>

                    </div>
                    <div class="down-card">
                        <div class="elem-img">
                            <img src="{% static 'img/main/serv/s_safe.png' %}" alt="ТГосФакторинг">
                        </div>
                        <div class="more-btn">
                            <p>Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 elem">
                <div class="serv-card">
                    <div class="up-card">
                        <div class="elem-text">
                            <div class="elem-title">Факторинг</div>
                            <div class="elem-percent">Комплекс финансовых услуг для
                                производителей и поставщиков,
                                ведущих торговую деятельность
                                на условиях отсрочки платежа
                            </div>
                        </div>

                    </div>
                    <div class="down-card">
                        <div class="elem-img">
                            <img src="{% static 'img/main/serv/s_factor.png' %}" alt="ТГосФакторинг">
                        </div>
                        <div class="more-btn">
                            <p>Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 elem">
                <div class="serv-card">
                    <div class="up-card">
                        <div class="elem-text">
                            <div class="elem-title">Тендерный займ</div>
                            <div class="elem-percent">Срочное кредитование,
                                доступное участникам закупки
                                для обеспечения заявки,
                                исполнения контракта и прочего
                            </div>
                        </div>

                    </div>
                    <div class="down-card">
                        <div class="elem-img">
                            <img src="{% static 'img/main/serv/s_tender.png' %}" alt="ТГосФакторинг">
                        </div>
                        <div class="more-btn">
                            <p>Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>