{% load static %}
<section class="table">
    <div class="container">
        <div class="t_first">
            <div class="frame__qout">
                <p class="qout">“Если вдруг найдете сервис лучше, то мы вернем Вам разницу!”</p>
                <p class="quot_a">Команда Finaps</p>
            </div>
        </div>
        <div class="t_second">
            <div class="frame__table">
                <div class="row t__slide info-header">
                    <div class="col-lg-3 slide-elem info-header-tab checked">
                        Как получить Банковскую Гарантию?
                    </div>
                    <div class="col-lg-3 slide-elem info-header-tab">
                        Какие документы?
                    </div>
                    <div class="col-lg-3 slide-elem info-header-tab">
                        Доп. условия
                    </div>
                    <div class="col-lg-3 slide-elem info-header-tab">
                        Подробнее о Банковской Гарантии
                    </div>
                </div>
                <div class="info-tabcontent fade-opac show-tab">
                    <div class="row t__title">
                        <p>Получите Гарантию в 3 шага</p>
                    </div>
                    <div class="row t__content">
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">01</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Подайте заявку</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оставьте заявку на нашем сайте
                                    самостоятельно или сделайте это
                                    через службу поддержки. Загрузите
                                    необходимые документы</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">02</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Получите предложение</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Получите ответы от всех Банков-партнеров
                                    компании Finaps и выберите наиболее
                                    подходящее. На практике это занимает
                                    не более 3-х часов.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">03</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Оформите договор</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оплатите услуги по выпуску Банковской
                                    гарантии напрямую в Банк. Легитимная,
                                    официальная Банковская гарантия
                                    готова!</p>
                            </div>
                        </div>
                    </div>
                    <div class="t_btn">
                        <div class="btn-orange">
                            <a href="">
                                <div class="btn-orange">
                                    <p>Получить банковскую гарантию</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info-tabcontent fade-opac hide-tab">
                    <div class="row t__title">
                        <p>Получите Гарантию в 6 шага</p>
                    </div>
                    <div class="row t__content">
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">01</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Подайте заявку</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оставьте заявку на нашем сайте
                                    самостоятельно или сделайте это
                                    через службу поддержки. Загрузите
                                    необходимые документы</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">02</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Получите предложение</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Получите ответы от всех Банков-партнеров
                                    компании Finaps и выберите наиболее
                                    подходящее. На практике это занимает
                                    не более 3-х часов.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">03</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Оформите договор</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оплатите услуги по выпуску Банковской
                                    гарантии напрямую в Банк. Легитимная,
                                    официальная Банковская гарантия
                                    готова!</p>
                            </div>
                        </div>
                    </div>
                    <div class="t_btn">
                        <div class="btn-orange">
                            <a href="">
                                <div class="btn-orange">
                                    <p>Получить банковскую гарантию</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info-tabcontent fade-opac hide-tab">
                    <div class="row t__title">
                        <p>Получите Гарантию в 5 шага</p>
                    </div>
                    <div class="row t__content">
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">01</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Подайте заявку</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оставьте заявку на нашем сайте
                                    самостоятельно или сделайте это
                                    через службу поддержки. Загрузите
                                    необходимые документы</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">02</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Получите предложение</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Получите ответы от всех Банков-партнеров
                                    компании Finaps и выберите наиболее
                                    подходящее. На практике это занимает
                                    не более 3-х часов.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">03</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Оформите договор</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оплатите услуги по выпуску Банковской
                                    гарантии напрямую в Банк. Легитимная,
                                    официальная Банковская гарантия
                                    готова!</p>
                            </div>
                        </div>
                    </div>
                    <div class="t_btn">
                        <div class="btn-orange">
                            <a href="">
                                <div class="btn-orange">
                                    <p>Получить банковскую гарантию</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info-tabcontent fade-opac hide-tab">
                    <div class="row t__title">
                        <p>Получите Гарантию в 4 шага</p>
                    </div>
                    <div class="row t__content">
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">01</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Подайте заявку</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оставьте заявку на нашем сайте
                                    самостоятельно или сделайте это
                                    через службу поддержки. Загрузите
                                    необходимые документы</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">02</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Получите предложение</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Получите ответы от всех Банков-партнеров
                                    компании Finaps и выберите наиболее
                                    подходящее. На практике это занимает
                                    не более 3-х часов.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 t__content-element">
                            <div class="circle-div">
                                <div class="t__elem-circl">
                                    <p class="elem__num">03</p>
                                </div>
                            </div>
                            <div class="t__elem-title">
                                <p>Оформите договор</p>
                            </div>
                            <div class="t__elem-text">
                                <p>Оплатите услуги по выпуску Банковской
                                    гарантии напрямую в Банк. Легитимная,
                                    официальная Банковская гарантия
                                    готова!</p>
                            </div>
                        </div>
                    </div>
                    <div class="t_btn">
                        <div class="btn-orange">
                            <a href="">
                                <div class="btn-orange">
                                    <p>Получить банковскую гарантию</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    const tab = document.querySelectorAll('.info-header-tab');
    const info = document.querySelector('.info-header');
    const tabContent = document.querySelectorAll('.info-tabcontent');

    function hideTabContent(a) {
        for (let i = a; i < tabContent.length; i++) {
            tab[i].classList.remove('checked')

            tabContent[i].classList.remove('show-tab');
            {#tabContent[i].classList.remove('checked');#}
            tabContent[i].classList.add('hide-tab');
        }
    }

    hideTabContent(1);

    function showTabContent(b) {
        if (tabContent[b].classList.contains('hide-tab')) {
            tab[b].classList.add('checked')

            tabContent[b].classList.remove('hide-tab');
            tabContent[b].classList.add('show-tab');
            {#tabContent[b].classList.add('checked');#}
        }
    }

    info.addEventListener('click', function (event) {
        let target = event.target;
        if (target && target.classList.contains('info-header-tab')) {
            for (let i = 0; i < tab.length; i++) {
                if (target == tab[i]) {
                    hideTabContent(0);
                    showTabContent(i);
                    break;
                }
            }
        }
    });

</script>