{% load static %}
<section class="useful-line">
    <div class="container">
        <div class="useful-title">
            <h2>Полезные материалы</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 line-elem">
                <div class="icon-elem">
                    <img src="{% static 'img/main/pdf-icon.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Изменения в закупках в 2019 г.</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 line-elem">
                <div class="icon-elem">
                    <img src="{% static 'img/main/pdf-icon.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Реформы в закупках до 2024 г.</p>

                </div>
            </div>
            <div class="col-lg-3 col-6 line-elem two">
                <div class="icon-elem">
                    <img src="{% static 'img/main/pdf-icon.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Регламент УЦ ООО ВБЦ</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 line-elem two">
                <div class="icon-elem">
                    <img src="{% static 'img/main/pdf-icon.png' %}" alt="">
                </div>
                <div class="line-text">
                    <p class="line-title">Инструкция для входа в Finaps</p>
                </div>
            </div>
        </div>
    </div>
</section>