@import "../../common/screen";
@import "../../common/colors";
@import "../../common/mixins";


.personal__title {
  .title__text {
    p {

      a {
        color: #0e1c2d;
      }

      a:hover {
        color: $gold;
        text-decoration: none;
      }

      a:focus {
        outline: none;
      }

    }
  }
}

.change-pass {
  form {
    p {
      label {
        font-size: 15px;
        color: #0e1c2d;
        font-family: "Montserrat-SemiBold", serif;
      }

      input {
        margin-top: 5px;
        padding: 10px 15px;
        border: 1px solid #dde1e4;
        border-radius: 5px;
      }
    }

    button {
      padding: 15px 80px;
      background-color: $gold;
      border: 1px solid $gold;
      border-radius: 5px;
      color: #ffffff;

      &:focus {
        outline: none;
      }
    }

    //ul{
    //  display: none;
    //}
    //.errorlist{
    //  display: block;
    //}
  }
}