@import "../../common/screen";
@import "../../common/colors";
@import "../../common/mixins";


.my-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company_list {
  .my-col-1 {
    width: 5.555%*1;
  }

  .my-col-5 {
    width: 5.555%*5;
  }

  .my-col-6 {
    width: 5.555%*6;
  }

  .empty-list {
    display: flex;
    justify-content: center;
    padding: 20px;

    p {
      color: $dblue;
      font-size: 18px;
      font-family: "Montserrat-Medium", serif;
      font-weight: 600;
      @include max-w(768) {
        font-size: 18px;
      }
      @include max-w(576) {
        font-size: 18px;
        text-align: center;
      }
      @include max-w(425) {
        font-size: 17px;
        text-align: center;
      }
      @include max-w(375) {
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .application__table-lg {
    margin: 30px 0;
    @include max-w(991) {
      display: none;
    }

    .border-table {
      background-color: white;
      margin-bottom: 0;
      margin-top: 0;
    }

    .table__head {
      padding-top: 10px;

      .head__elems {
        padding-bottom: 10px;

        .head__elem {
          color: $dblue;
          font-size: 19px;
          font-family: "Montserrat-Medium", serif;
          font-weight: 600;
        }
      }
    }

    .table__body {
      padding: 5px 0;

      .table__elems {
        padding: 15px 0;

        .body__elem {
          font-size: 15px;
          font-family: "Montserrat-Medium", serif;
          font-weight: 400;
          a{
            color: black;
          }
          a:hover {
            color: $dblue;
            text-decoration: none;
          }

          a:focus {
            outline: none;
          }
        }

        .summa {
          font-family: "Montserrat-SemiBold", serif;
        }
      }
    }
  }

  .application__table-min {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    @include min-w(992) {
      display: none;
    }

    .table__min-elem {
      margin: 15px 0;
      width: 100%;
      border: 1px solid #e6e6ef;

      //padding: 20px 40px 20px 10px;


      &:last-child {
        margin-bottom: 0;
      }

      .t__obj {
        //padding: 20px 10px 20px 10px;

        .num__section {
          background-color: white;

          .elem_numer {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
              margin-bottom: 0;
              color: $dblue;
              font-size: 18px;
              font-weight: 600;
              font-family: "Montserrat-Medium", serif;
              @include max-w(375) {
                font-size: 16px;
              }

            }
          }

          .elem_number {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
              margin-bottom: 0;
              font-size: 16px;
              font-family: "Montserrat-Medium", serif;
              font-weight: 500;
              @include max-w(375) {
                font-size: 14px;
              }
            }
          }
        }

      }

      .t__elem__value {
        background-color: $back_grey;
      }

      .t__elem {
        padding: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-top: 1px solid #e6e6ef;
        border-right: 1px solid #e6e6ef;
        border-left: 1px solid #e6e6ef;

        .elem__title {
          color: $dblue;
          font-size: 16px;
          font-family: "Montserrat-Medium", serif;
          font-weight: 600;
          display: flex;
          justify-content: flex-end;
          @include max-w(375) {
            font-size: 11px;
          }

          p {
            margin-bottom: 0;
          }

        }

        .elem__value {
          color: black;
          font-size: 14px;
          font-family: "Montserrat-Medium", serif;
          font-weight: 400;
          display: flex;
          justify-content: flex-start;
          @include max-w(375) {
            font-size: 11px;
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }


}