@import "../../common/screen";
@import "../../common/colors";
@import "../../common/mixins";


.create__application {

  .empty-list {
    display: flex;
    justify-content: center;
    padding: 20px;

    p {
      color: $dblue;
      font-size: 18px;
      font-family: "Montserrat-Medium", serif;
      font-weight: 600;
      @include max-w(768) {
        font-size: 18px;
      }
      @include max-w(576) {
        font-size: 18px;
        text-align: center;
      }
      @include max-w(425) {
        font-size: 17px;
        text-align: center;
      }
      @include max-w(375) {
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .stage-div {
    display: flex;
    padding-bottom: 25px;
    @include max-w(991){
        display: none;
      }

    .point-one {
      display: flex;
      align-items: center;

      .circle {
        width: 37px;
        height: 37px;
        color: white;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }

      .grey {
        background-color: #9e9e9e;
      }

      .orange {
        background-color: $gold;
      }

      p {
        margin-bottom: 0;
      }
    }

    .line {
      margin-left: 15px;
      margin-right: 15px;
      width: 500px;

      .razdel {
        color: #9e9e9e;
      }
    }
  }

  .form__create--app {
    @include min-w(992){
      width: 850px;
    }


    form {
      .left {
        display: flex;
        justify-content: flex-start;
      }

      .company_new {
        display: flex;
        justify-content: center !important;
        align-items: center;
      }

      .my-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        @include max-w(992){
          flex-direction: column;
        }
      }

      .btn-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @include max-w(992){
          flex-direction: column;
        }

        button {
          padding: 15px 80px;
          background-color: $gold;
          border: 1px solid $gold;
          border-radius: 5px;
          color: #ffffff;

          &:focus{
            outline: none;
          }
        }
      }

      .block-50 {
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        @include max-w(991){
          width: 100%;
        }

        color: #0e1c2d;
        font-family: "Montserrat-ExtraLight", serif;
        font-size: 15px;
        font-weight: 600;

        .add-company {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            padding: 10px 20px;
            margin: 10px;
            background-color: $gold;
            border: 1px solid $gold;
            border-radius: 5px;
            color: #ffffff;

            &:focus{
            outline: none;
          }
          }
        }

        input {
          margin-top: 5px;
          width: 100%;
          padding: 10px 5px;
          border: 1px solid #dde1e4;
          border-radius: 5px;
          &:focus{
            outline: none;
          }
        }

        input::placeholder {
          font-size: 15px;
          color: #0e1c2d;
          font-family: "Montserrat-ExtraLight", serif;
        }

        select {
          margin-top: 5px;
          padding: 5px;
          border: 1px solid #dde1e4;
          color: #0e1c2d;
          font-size: 15px;
          font-family: "Montserrat-SemiBold", serif;
          &:focus{
            outline: none;
          }
        }


      }

      .block-100 {
        padding: 10px;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;

        input {
          margin-top: 5px;
          width: 100%;
          padding: 10px 5px;
          border: 1px solid #dde1e4;
          border-radius: 5px;
          &:focus{
            outline: none;
          }
        }

        input::placeholder {
          font-size: 15px;
          color: #0e1c2d;
          font-family: "Montserrat-ExtraLight", serif;
        }
      }

      .block-radio {
        span {
          padding-left: 5px;
          color: #0e1c2d;
          font-size: 15px;
          font-family: "Montserrat-SemiBold", serif;
        }

        input {
          width: auto !important;
          &:focus{
            outline: none;
          }
        }

        input[type=checkbox] {
          //display: none;
        }

        input[type=checkbox]:checked + label:before {
          content: " ";
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
          font-size: 15px;
          color: #f3f3f3;
          text-align: center;
          line-height: 15px;

        }
        label:before {
        border-radius: 3px;
      }

      }
    }
  }
}