{% load static %}
<section class="create__partners">
    <div class="container">
        <div class="partners-div">
            <div class="form-search__partners">
                <form action="" class="search">
                    <div class="area">
                        <div class="img-search">
                            <img src="{% static 'img/search.png' %}" alt="">
                        </div>
                        <input type="search" class="search__area" placeholder="Поиск">
                    </div>
                </form>
            </div>
            <div class="form-choice__partners">
                <form action="">
                    <div class="area__choice">
                        <div class="table-head">
                            <div class="my-row head-value">
                                <div class="my-col-1">
                                    <input type="checkbox" class="custom-checkbox">
                                </div>
                                <div class="my-col-7">
                                    <span>Партнер</span>
                                </div>
                                <div class="my-col-5"><span>Стоимость (₽)</span>
                                    <div class="modal-q">
                                        <img src="{% static 'img/part/qua.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="my-col-5"><span>Комиссия (₽)</span>
                                    <div class="modal-q">
                                        <img src="{% static 'img/part/qua.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <hr class="razdel">
                            </div>

                        </div>
                        <div class="table-body">
                            <div class="my-row body-value">
                                <div class="my-col-1">
                                    <input type="checkbox" class="custom-checkbox">
                                </div>
                                <div class="my-col-7">
                                    <div class="part-img">
                                        <img src="{% static 'img/part/abs.png' %}" alt="">
                                    </div>
                                    <span>Абсолют банк</span>
                                </div>
                                <div class="my-col-5"><span>Индивидуально</span></div>
                                <div class="my-col-5"><span>Индивидуально</span></div>
                            </div>
                            <div class="line">
                                <hr class="razdel">
                            </div>

                            <div class="my-row body-value">
                                <div class="my-col-1">
                                    <input type="checkbox" class="custom-checkbox">
                                </div>
                                <div class="my-col-7">
                                    <div class="part-img">
                                        <img src="{% static 'img/part/abs.png' %}" alt="">
                                    </div>
                                    <span>Абсолют банк</span>
                                </div>
                                <div class="my-col-5"><span>Индивидуально</span></div>
                                <div class="my-col-5"><span>Индивидуально</span></div>
                            </div>
                            <div class="line">
                                <hr class="razdel">
                            </div>

                            <div class="my-row body-value">
                                <div class="my-col-1">
                                    <input type="checkbox" class="custom-checkbox">
                                </div>
                                <div class="my-col-7">
                                    <div class="part-img">
                                        <img src="{% static 'img/part/abs.png' %}" alt="">
                                    </div>
                                    <span>Абсолют банк</span>
                                </div>
                                <div class="my-col-5"><span>Индивидуально</span></div>
                                <div class="my-col-5"><span>Индивидуально</span></div>
                            </div>
                            <div class="line">
                                <hr class="razdel">
                            </div>
                        </div>
                    </div>

                    <div class="btn-row">
                        <button>Далее</button>
                    </div>
                </form>
            </div>

            <div class="form-choice__partners-min">
                <div class="table__min-elem ">
                    <form action="">
                        <label class="partner-elem" for="part1">
                            <input type="checkbox" name="part" id="part1">
                            <div class="t__obj">
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_numer"><p>№</p></div>
                                </div>
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_number">1</div>
                                </div>
                                <div class="t__elem elem-company t__elem__value">
                                    <div class="elem__title"><p>Партнер</p></div>
                                    <div class="elem__value">
                                        <div class="part-img">
                                            <img src="{% static 'img/part/abs.png' %}" alt="">
                                        </div>
                                        <p>Абсолют банк
                                        </p>
                                    </div>
                                </div>
                                <div class="t__elem elem-product t__elem__value">
                                    <div class="elem__title"><p>Стоимость (₽)</p></div>
                                    <div class="elem__value"><p>Индивидуально</p></div>
                                </div>
                                <div class="t__elem elem-summa t__elem__value">
                                    <div class="elem__title"><p>Комиссия (₽)</p></div>
                                    <div class="elem__value"><p>Индивидуально</p></div>
                                </div>
                            </div>
                        </label>

                        <label class="partner-elem" for="part2">
                            <input type="checkbox" name="part" id="part2">
                            <div class="t__obj">
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_numer"><p>№</p></div>
                                </div>
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_number">1</div>
                                </div>
                                <div class="t__elem elem-company t__elem__value">
                                    <div class="elem__title"><p>Партнер</p></div>
                                    <div class="elem__value">
                                        <div class="part-img">
                                            <img src="{% static 'img/part/abs.png' %}" alt="">
                                        </div>
                                        <p>Абсолют банк
                                        </p>
                                    </div>
                                </div>
                                <div class="t__elem elem-product t__elem__value">
                                    <div class="elem__title"><p>Стоимость (₽)</p></div>
                                    <div class="elem__value"><p>Индивидуально</p></div>
                                </div>
                                <div class="t__elem elem-summa t__elem__value">
                                    <div class="elem__title"><p>Комиссия (₽)</p></div>
                                    <div class="elem__value"><p>Индивидуально</p></div>
                                </div>
                            </div>
                        </label>

                        <label class="partner-elem" for="part3">
                            <input type="checkbox" name="part" id="part3">
                            <div class="t__obj">
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_numer"><p>№</p></div>
                                </div>
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_number">1</div>
                                </div>
                                <div class="t__elem elem-company t__elem__value">
                                    <div class="elem__title"><p>Партнер</p></div>
                                    <div class="elem__value">
                                        <div class="part-img">
                                            <img src="{% static 'img/part/abs.png' %}" alt="">
                                        </div>
                                        <p>Абсолют банк
                                        </p>
                                    </div>
                                </div>
                                <div class="t__elem elem-product t__elem__value">
                                    <div class="elem__title"><p>Стоимость (₽)</p></div>
                                    <div class="elem__value"><p>Индивидуально</p></div>
                                </div>
                                <div class="t__elem elem-summa t__elem__value">
                                    <div class="elem__title"><p>Комиссия (₽)</p></div>
                                    <div class="elem__value"><p>Индивидуально</p></div>
                                </div>
                            </div>
                        </label>

                        <div class="btn-row">
                            <button>Далее</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    let part_area = document.querySelectorAll('.partner-elem');
    let inputPart = document.getElementsByName('part');

    for (let i = 0; i < inputPart.length; i++) {
        inputPart[i].addEventListener('change', function (e) {
            let target = e.target;
            let label = e.path[1];
            console.log(label)
            if (label.classList.contains('part-active')) {
                part_area[i].classList.remove('part-active');
            } else {
                part_area[i].classList.add('part-active');
            }

        })
    }

</script>