{% load static %}
<section class="create__partners">
    <div class="container">
        <div class="partners-div">
            <div class="form-search__partners">
                <form action="" class="search">
                    <div class="area">
                        <div class="img-search">
                            <img src="{% static 'img/search.png' %}" alt="">
                        </div>
                        <input type="search" class="search__area" placeholder="Поиск">
                    </div>
                </form>
            </div>
            <div class="form-choice__partners">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="area__choice">
                        <div class="table-head">
                            <div class="my-row head-value">
                                <div class="my-col-1">
                                    <input type="checkbox" class="custom-checkbox">
                                </div>
                                <div class="my-col-7">
                                    <span>Партнер</span>
                                </div>
                                <div class="my-col-5"><span>Стоимость (₽)</span>
                                    <div class="modal-q">
                                        <img src="{% static 'img/part/qua.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="my-col-5"><span>Комиссия (₽)</span>
                                    <div class="modal-q">
                                        <img src="{% static 'img/part/qua.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <hr class="razdel">
                            </div>

                        </div>
                        <div class="table-body">
                            {% for bank in banks %}
                            <div class="my-row body-value">
                                <div class="my-col-1">
                                    <input type="checkbox" class="custom-checkbox" name="bank_choice" value="{{ bank.name }}">
                                </div>
                                <div class="my-col-7">
                                    <div class="part-img">
                                        <img src="{{ bank.bank_img.url }}" alt="{{ bank.name }}">
                                    </div>
                                    <span>{{ bank.name }}</span>
                                </div>
                                <div class="my-col-5"><span>{{ bank.cost }}</span></div>
                                <div class="my-col-5"><span>{{ bank.commission }}</span></div>
                            </div>
                            <div class="line">
                                <hr class="razdel">
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="btn-row">
                        <button type="submit">Далее</button>
                    </div>
                </form>
            </div>

            <div class="form-choice__partners-min">
                <div class="table__min-elem ">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for bank in banks %}
                        <label class="partner-elem" for="part{{ bank.id }}">
                            <input type="checkbox" name="{{ bank.name }}" id="part{{ bank.id }}">
                            <div class="t__obj">
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_numer"><p>№</p></div>
                                </div>
                                <div class="t__elem num__section">
                                    <div class="elem__num elem_number">{{ bank.id }}</div>
                                </div>
                                <div class="t__elem elem-company t__elem__value">
                                    <div class="elem__title"><p>Партнер</p></div>
                                    <div class="elem__value">
                                        <div class="part-img">
                                            <img src="{{ bank.bank_img.url }}" alt="{{ bank.name }}">
                                        </div>
                                        <p>{{ bank.name }}</p>
                                    </div>
                                </div>
                                <div class="t__elem elem-product t__elem__value">
                                    <div class="elem__title"><p>Стоимость (₽)</p></div>
                                    <div class="elem__value"><p>{{ bank.cost }}</p></div>
                                </div>
                                <div class="t__elem elem-summa t__elem__value">
                                    <div class="elem__title"><p>Комиссия (₽)</p></div>
                                    <div class="elem__value"><p>{{ bank.commission }}</p></div>
                                </div>
                            </div>
                        </label>
                        {% endfor %}
                        <div class="btn-row">
                            <button type="submit">Далее</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    let part_area = document.querySelectorAll('.partner-elem');
    let inputPart = document.getElementsByName('part');

    for (let i = 0; i < inputPart.length; i++) {
        inputPart[i].addEventListener('change', function (e) {
            let target = e.target;
            let label = e.path[1];
            console.log(label)
            if (label.classList.contains('part-active')) {
                part_area[i].classList.remove('part-active');
            } else {
                part_area[i].classList.add('part-active');
            }

        })
    }

</script>