{% load static %}
<section class="create__application">
    <div class="container">
        <div class="stage-div">
            <div class="point-one">
                <div class="circle orange">01</div>
                <p>Информация</p>
            </div>
            <div class="line">
                <hr class="razdel">
            </div>
            <div class="point-one">
                <div class="circle grey">02</div>
                <p>Выбор партнеров</p>
            </div>
        </div>
        <div class="form__create--app">
            <form action="">
                <div class="my-row">
                    <div class="block-50">
                        Вид потребности
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">Банковские гарантии</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="block-50">
                        Потребность
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">БГ в пользу налоговых органов</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="my-row">
                    <div class="block-50">
                        Компания
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="block-50 company_new">
                        <a href="" class="add-company">
                            <button>Добавить новую компанию</button>
                        </a>
                    </div>
                </div>

                <div class="my-row left">
                    <div class="block-50">
                        Закон
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">44 ФЗ</option>
                            <option value="2">223 ФЗ</option>
                        </select>
                    </div>
                </div>

                <div class="my-row left">
                    <div class="block-50">
                        <input type="text" placeholder="Номер закупки">
                    </div>
                </div>

                <div class="my-row left">
                    <div class="block-50">
                        <input type="text" placeholder="Сумма">
                    </div>
                </div>

                <div class="my-row">
                    <div class="block-50">

                        <input type="text" placeholder="Цена контракта">
                    </div>
                </div>

                <div class="my-row">
                    <div class="block-100">

                        <input type="text" placeholder="Предмет контракта">
                    </div>
                </div>

                <div class="my-row">
                    <div class="block-100">

                        <input type="text" placeholder="Предназначение контракта">
                    </div>
                </div>

                <div class="my-row">
                    <div class="block-50 block-radio">
                        <label for="">
                            <input type="radio" name="spis">
                            <span>Аванс</span>
                        </label>
                    </div>
                    <div class="block-50 block-radio">
                        <label for="">
                            <input type="radio" name="spis">
                            <span>Бесспорное списание</span>
                        </label>
                    </div>
                </div>

                <div class="my-row">
                    <div class="block-50">

                        <input type="date" placeholder="Дата протокола">
                    </div>
                    <div class="block-50">

                        <input type="date" placeholder="Дата извещения">
                    </div>
                </div>


                <div class="btn-row">
                    <button>Далее</button>
                </div>
            </form>
        </div>
    </div>
</section>

