@import "../../common/screen";
@import "../../common/colors";

.sign-form__second {
  .sf__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include min-w(1200) {
      margin: 0 250px;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      margin: 0 130px;
    }
    @include max-w(575) {
      margin: 0 15px;

    }

    .sf__title {
      text-align: center;

      .st-tit {

        color: white;
        font-size: 36px;
        @include max-w(576){
          font-size: 24px;
        }
        @include max-w(425){
          font-size: 17px;
        }

      }

      .st-tex {
        padding: 30px 50px;
        color: white;
        font-size: 20px;
        @include max-w(576){
          padding: 10px 10px;
        font-size: 17px;
        }
        @include max-w(425){
          padding: 10px 20px;
        font-size: 16px;
        }


      }
    }

    form {
      .sf__choice {
        display: flex;
        justify-content: center;
        @include max-w(425){
          flex-direction: column;
        }

        .active {
          border-radius: 5px;
          border: 2px solid $back_grey !important;
        }

        .inactive {

        }

        .sf__agent-client {
          border-radius: 5px;
          border: 2px solid #334e6f;
          padding: 10px 10px;
          display: flex;
          flex-direction: column;
          width: 50%;
          @include max-w(425){
            width: 100%;
          }

          img {
            padding-right: 15px;
          }

          label {
            display: inline-block;
          }

          span {
            color: $back_grey;
            font-size: 24px;
          }

          .tex {
            font-family: "Montserrat-ExtraLight", serif;
            font-size: 16px;
            font-weight: 400;
            padding-top: 20px;
            @include max-w(576){
              font-size: 14px;
            }
          }

          p {
            color: $back_grey;
          }

          &:first-child {
            margin-right: 15px;
            @include max-w(425){
              margin-right: 0;
            }
          }

          &:last-child {
            margin-left: 15px;
            @include max-w(425){
              margin-left: 0;
            }
          }

        }
      }

      .sf__btn {
        margin-top: 45px;
        margin-bottom: 70px;

        button {
          border-radius: 2px;
          border: 1px solid $gold;
          background-color: $gold;

          font-family: "Montserrat-SemiBold", serif;
          font-size: 19px;
          font-weight: 400;
          color: white;
          padding: 15px 30px;
          @include max-w(425){
            font-size: 14px;
          }
        }
      }

    }
  }
}