{% load static %}
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse"
                    data-target="#MenuHeaderRow"
                    aria-controls="MenuHeaderRow" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse personal__header" id="MenuHeaderRow">
                <ul class="navbar-nav headerMenu">

                    <li class="nav-item personal__header__item">
                        <img src="{% static 'img/personal/build.png' %}" alt="">
                        <a class="nav-link" href="/personal/add-company">Добавить компанию </a>
                    </li>

                    <li class="nav-item personal__header__item">
                        <img src="{% static 'img/personal/blank.png' %}" alt="">
                        <a class="nav-link" href="/personal/create-application">Создать заявку</a>
                    </li>

                    <li class="nav-item personal__header__item">
                        <img src="{% static 'img/personal/more_build.png' %}" alt="">
                        <a class="nav-link" href="/personal/company">Все компании</a>
                    </li>

                    <li class="nav-item personal__header__item">
                        <img src="{% static 'img/personal/list.png' %}" alt="">
                        <a class="nav-link" href="/personal/applications">Все заявки</a>
                    </li>

                    <li class="nav-item personal__header__item">
                        <img src="{% static 'img/personal/admin.png' %}" alt="">
                        <a class="nav-link" href="/">Администрирование</a>
                    </li>

                    <li class="nav-item dropdown personal__header__drop">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Мои данные</a>
                            <a class="dropdown-item" href="/personal/logout">Выход</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>