{% load static %}
<section class="form-login">
    <div class="container center">

        <form method="post">
            {% csrf_token %}
            {% if error %}
            <div style="
                color:red; display: flex;
                justify-content: center;
                padding: 10px;">{{ error }}</div>
            {% endif %}
            <input class="sign-form"  type="text" name="username" placeholder="Электронная почта">
            <input  class="sign-form"  type="password" name="password" placeholder="Пароль">
            <div class="forgot-link">
                <a href="{% url 'personal:password_reset' %}">Забыли пароль?</a>
            </div>
            <button type="submit">Далее</button>
        </form>
    </div>
</section>