{% load static %}
<section class="sign-form__second">
    <div class="sf__second">
        <div class="sf__title">
            <p class="st-tit">Как Вы планируете использовать Тендер Гарант?</p>
            <p class="st-tex">Вы можете получать кэшбэк, приобретая услуги для себя, а также зарабатывать, продавая
                услуги клиентам</p>
        </div>

        <form action="">
            <div class="sf__choice">
                <div class="sf__client">
                    <label class="client__choice">
                        <input class="with-gap" type="radio" name="client" id="client" value="client" checked>
                        <span>Клиент</span>
                    </label>
                    <p>Вы планируете получать продукты
                        и услуги для себя или своей
                        организации с кэшбэком</p>
                </div>
                <div class="sf__agent">
                    <label class="agent__choice">
                        <input class="with-gap" type="radio" name="agent" id="agent" value="agent">
                        <span>Агент</span>
                    </label>
                    <p>Вы планируете оформлять
                        заявки для клиентов и
                        получать вознаграждение</p>
                </div>
            </div>
            <div class="sf__btn">
                <button type="submit">Завершить регистрацию</button>
            </div>
        </form>

    </div>
</section>