@import "../common/screen";

footer{
  padding: 40px 0;
  p{
    font-size: 12px;
    margin-bottom: 0;
  }
  a{
    color: black;
    font-size: 12px;
  }
  a:hover{
    color: black;
  }
  a:focus{
    outline: none            ;
  }
  .link-to-d{
    text-decoration: underline;
  }
  .studio{
    display: flex;
    justify-content: flex-end;
  }
}